.alerta-login-pagina{
    position: absolute;
    z-index: 1000;
    left: 38%;
    margin-top: 10px;
}


.alerta-cadastro-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.alerta-cadastro{
    width: 25%;    
    padding: 5px;
    right: 10%;    
}