.alerta-login-pagina{    
    z-index: 1000;    
    margin-top: 1.5rem;
}


.container-login-margin{
    margin-top: 1.5rem;
}

.alerta-cadastro-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.alerta-cadastro{
    width: 25%;    
    padding: 5px;
    right: 10%;    
}